
.loader{display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color:#262626;
  height: 100vh;
  width: 100%;
  transition: height 200ms linear;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;}
/********************  Preloader Demo-7 *******************/
/*.loader7{width:100px;height:100px;position:relative; }
.loader7 .loader-inner-1,.loader7 .loader-inner-2,.loader7 .loader-inner-3,.loader7 .loader-inner-4{display:block;width:20px;height:20px;border-radius:20px;position:absolute}
.loader7 .loader-inner-1:before,.loader7 .loader-inner-2:before,.loader7 .loader-inner-3:before,.loader7 .loader-inner-4:before{content:"";display:block;width:20px;height:20px;border-radius:20px;position:absolute;right:0;animation-name:loading-7;animation-iteration-count:infinite;animation-direction:normal;animation-duration:2s}
.loader7 .loader-inner-1{top:0;left:0;transform:rotate(70deg)}
.loader7 .loader-inner-1:before{background:#f4f6f9}
.loader7 .loader-inner-2{top:0;right:0;transform:rotate(160deg)}
.loader7 .loader-inner-2:before{background:#b3c6ff}
.loader7 .loader-inner-3{bottom:0;right:0;transform:rotate(-110deg)}
.loader7 .loader-inner-3:before{background:#808080}
.loader7 .loader-inner-4{bottom:0;left:0;transform:rotate(-20deg)}
.loader7 .loader-inner-4:before{background:#99ffd6}*/


@keyframes loading-7{
    0%{width:20px;right:0}
    30%{width:120px;right:-100px}
    60%{width:20px;right:-100px}
}